# Dependencies
node_modules/
package-lock.json

# Archives
*.rar
*.zip
*.7z

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Backup files
*.bak
*~

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp files
*.tmp

